.signup-container {
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(233, 239, 244, 0.7);
    text-align: center;
  }
  
  h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .submit-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  .head{
    color: #333;
  }
  .head {
    text-align: center; /* Align the text to the center */
    font-size: 44px; /* Adjust the font size as needed */
    margin-top: 20px; /* Add margin on top */ /* Add margin on bottom */
    color: #151010; /* Set the text color */
    text-transform: uppercase; /* Transform text to uppercase */
    font-weight: bold; /* Apply bold font weight */
  }

  